.header {
  width: 100%;
  height: 4em;
  background-color: white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}

#menuIcon {
  width: 2em;
  height: 1em;
  position: absolute;
  top: 50%;
  transform: translate(20px,-50%);
}

.logo {
  display:inline-flex;
  width: 80px;
  height: 24px;
  margin-top: 10px;
}
.logo:hover {
  cursor: pointer;
}

#headerLogo {
  /* margin: 0px;
  padding: 0px; */
  height: 2em;
  position: absolute;
  top: 50%;
  transform: translate(70px,-50%);
}

#logoName {
  padding: 0px;
  font-weight: 600;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translate(100px,-50%);
}

.search {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(300px,-50%);
}

#searchButton {
  position: absolute;
  top: 50%;
  transform: translate(-5px, -50%);
}

span#glyphicon-search {
  width: 3em;
}
