<div class="header">
  <img id="menuIcon" src="assets/images/menuIcon.png" alt="">
  <div class="logo" routerLink=''>
    <img id="headerLogo" src="assets/images/meTubeLogo.png" alt="">
    <span id="logoName">MeTube</span>
  </div>
  <div class="search">
    <input #searchString id='searchInput' type="text" class="form-control" name="" placeholder="Search">
    <button id='searchButton' type="button" name="button" (click)='search(searchString.value)'><img id="seachIcon" src="assets/images/search.png" ></button>
  </div>
</div>
