<div class="header">
  <span id="menuIcon" class="glyphicon glyphicon-menu-hamburger"></span>
  <div class="logo" (click)='goToHome()'>
    <img id="headerLogo" src="assets/images/meTubeLogo.png" alt="">
    <span id="logoName">MeTube</span>
  </div>
  <div class="search input-group">
    <input #searchString type="text" class="form-control" name="" placeholder="Search">
    <button id="searchButton" class="btn btn-default" type="button" name="button" (click)='search(searchString.value)'><span class="glyphicon glyphicon-search"></span></button>
  </div>
</div>
