<app-header-bar></app-header-bar>
<div class="container-fluid">
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
  <app-suggested-video videoId='dQw4w9WgXcQ'></app-suggested-video>
</div>
